body{
	background-image: url(body-bg.jpg);
}
.wrapper{
	margin: 0 auto;
	width: 800px;
	text-align: center;
	font-family: Segoe UI;
	font-size: 50px;
	margin-top: 50px;
	padding: 40px;
	background-color: #888888;
	border-radius: 25px;
	border-bottom:10px solid #333333;

}

span{
	color:#fcd036;
}
.title{
	float:left;
	width: 800px;
}
.title > a> img {
	border-right: 2px solid #333333;
	padding:  30px;
	float:left;
}
#contact {
	font-size: 14px;
	float:left;
	padding: 25px;
	padding-top: 35px;
	text-align: left;
	line-height: 20px;
}
h1{
	clear:both;
	padding: 50px 20px 130px 20px;
	overflow: hidden;
}
#bottom-left{
	float:left;
	margin-top:-100px;
}
#bottom-right{
	float:right;
	margin-top:-100px;
}