
/*FAQ CONTAINER */
.header{
	
}
.container{
	padding: 10px;
	font-family: Segoe UI;
}
.title{
	margin-top: 20px;
	padding: 10px;
	font-size: 20px;background-color: #f5f5f5;
}
.content {
	margin-bottom: 10px;
	padding: 10px;
}
.stabilo {
	background-color: #f5f5f5;
}

/*
REGISTRATION STARTS HERE 
*/
.box{
	margin: 0 auto;

	padding-top: 20px;
	clear: left;
	overflow: hidden;
}
.first{
	padding-top: 50px;
}
.second{
	padding-top: 0px;
	padding-left: 120px;
}
h1{
	font-size: 60px;
}
.reg-column > input ,textarea{
	border: none;
	border-bottom: 1px #999999 solid;
	padding: 10px;
}
textarea{
	height: 100px;
}
.reg-column{
	float: left;
}
.reg-column > input{
	width: 205px;
}
.reg-column > input:hover , textarea:hover{
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px #999999 solid;
}
.reg-column > input:focus , textarea:focus{
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px #999999 solid;
	outline: none;
}
.reg-column > input:active , textarea:active{
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px #999999 solid;
}
input.date{
	width: 30px;
}

input#year{
	width: 45px;
}
input.longtext{
	width: 100px;
	height: 100px;
}
.submit-btn{
	background-color: #e5e5e5;
	border:none;
	padding: 10px;
	color:#666666;
	float:left;
	margin: 25px;
}
.submit-btn:hover{
	background-color: #c5c5c5;
}
a#facebook{
	background: url(asset/img/facebook.png) no-repeat center;
	width: 241px;
	height: 48px;
	display: block;
}
a#facebook:hover{
	background: url(asset/img/facebook-hover.png) no-repeat center;
}

a#twitter{
	background: url(asset/img/twitter.png) no-repeat center;width: 241px;
	height: 48px;
}
a#twitter:hover{
	background: url(asset/img/twitter-hover.png) no-repeat center;
}
.none{
	display: none;
}
.left{
	float:left;
}
.right{
	float: right;
}

	#subscribe-title > h1{
	margin-right: 20px;
} 
#subscribe-title{
	clear: right;
}

#image-box{
	margin-top: 20px;
}
.border{
	width: 22px;
	height: 100px;
	float: left;
	border-left: 2px #f1f1f1 solid;
}
#leftside{
	width: 350px;
	float:left;
	clear:left;
}
#rightside{
	float:left;
	width: 550px;
	padding-top: 40px;
	margin-left: 20px;
	overflow: hidden;
}

#rightside > h3{
		color: #fcd036;
		font-size: 24px;
		display: block;
}#rightside > p {
	margin-top: 20px;
}
ul.profit{
	margin-left: 30px;
	list-style-image: url(../img/list-image.png);
}
ul.profit > li{
	margin-top: 15px;
	line-height: 20px;
}
