.new-line{
	clear:both;
	overflow: hidden;
}
.resto-name{
	width: 150px;
	max-height: 48px;height: 48px;
	background-image: url(../img/logo.png);
	background-position: 5px center;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	border: 1px solid #333;
	line-height: 48px;
	padding-left: 50px;
	float:left;
	margin-bottom: 14px;
}

.food-photo{
	height: 340px;width: 454px;
	float: left;
}

.side-right{
	float:right;
	width: 300px;

}
.small-photo{
	width: 64px; height: 64px;
	margin-right: 14px;
}
.explain{
	width: 222px;
}

.space {
	min-height: 14px;
}
#google-map-view{
	min-height: 120px;
	border: 1px solid #666;
	clear: both;
	overflow: hidden;
}
.delivery-comment{
	height: 92px;
	width: 294px;
	padding: 2px;
}
.add-to-cart{
	text-align: left;
	background:  white url(../img/logo.png) 10px 4px no-repeat;
	background-size: 40px 40px;
	padding-left: 60px;
	border: 1px solid #666;
	height: 48px;
	width: 300px;
	font-size: 20px;
}