body {
	background-color:#EDEBE6;
	color: #666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height:19px;
	}
	
input {color: #666666;}
input:-moz-placeholder { color: #aaa; }
textarea:-moz-placeholder { color: #aaa;}
.placeholder { color: #aaa; } 
	
.right{
	float:right;
}
.left{
	float:left;
}
/*HEADER PART */

header {
	border-top: 4px solid #FCD036;
	}

#menu_header{
	background-color: #fff;
	border-bottom: 4px solid #FCD036;
	border-left: 4px solid #FCD036;
	border-right: 4px solid #FCD036;
	height:44px;
	
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	}

header > div.wrapper {
	background-color: #fff;
	margin-top: -4px;
	}

header > div.wrapper > div{
	float:left;
	min-height: 48px;
}

.wrapper{
	width:768px;
	margin: 0 auto;
}

#logo{
	min-width: 63px;
	background-image: url(../img/logo.png);
	background-size:32px 32px;
	background-repeat: no-repeat;
	background-position: center;
	border-right:1px dotted #f5f5f5;
	
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-left-radius: 3px;
}

	
#search-box{
	line-height: 48px;
	min-width: 410px;
	padding-left: 40px;
	background-image: url(../img/search-img.png);
	background-size:32px 32px;
	background-position: 2% 50%;	
	background-repeat: no-repeat;
	border-right:1px dotted #f5f5f5;
}
#search-box > input{
	outline: none;
	border:none;
	width: 400px;
}

#call-center{
	line-height: 48px;
	min-width: 135px;
	padding-left: 50px;
	background-image: url(../img/search-img.png);
	background-repeat: no-repeat;
	background-size:32px 32px;
	background-position: 4% 50%;
	border-right:1px dotted #f5f5f5;
}
#call-center:hover >  div {
	display: block;
}
#call-center > div {
	position: absolute;
	z-index: 10;
	display: none;
}
#call-center > div > img{
	position: absolute;
	width: 20px;
	margin-top: 49px;
	padding: 0px;
	left: 35px;
}
#call-center > div > ul{
	margin-top: 57px;
	background: white;
	margin-left: -50px;
	line-height: 25px;
	border-radius: 5px;
	border: 1px solid #FCD036;
	z-index: 20;
	background-color: rgba(255,255,255,0.85);
} #call-center > div > ul > li{
	border-top: 1px solid #FCD036;

}#call-center > div > ul > li.first{
	border-top: none;
}  
#call-center > div > ul > li > div{
	min-width: 135px;
	padding-left: 50px;
}


#setting-btn{
	min-width: 64px;
	height: 48px;	
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
	
	background-image: url(../img/search-img.png);
	background-repeat: no-repeat;
	background-size:32px 32px;
	background-position: center center;
}

/*CONTAINER PART */
	
#user , #subtitle , #content{
	clear:both;
	overflow: hidden;
}
	
#user {
	width:454px;
	}	
	
#user > div{
	margin-top: 24px;
	height: 64px;
}
#photoUser {
	width: 64px;
	height: 64px;
	background-color: #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#detailUser{
	margin-left: 14px;
	width: 376px;
}

#username {
	padding-left:6px;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Sofia', cursive;
}

#kosan {
	color: rgba(0,0,0,0.35);
	width: 100%;
	padding-left: 24px;
	margin-top:4px;
	background-image: url(../img/marker.png);
	background-size:16px 16px;
	background-position: 0% 50%;	
	background-repeat: no-repeat;
	font-size: 11px;
	line-height:18px;
	}

#alamat {
	color: rgba(0,0,0,0.35);
	width:100%;
	padding-left:24px;
	font-size: 11px;
	line-height:18px;
	}
/* --------------------CART SECTION --------------------- */
#cart_section {
	min-width: 300px;
	min-height:64px;
	margin-top:24px;
	position:relative;
	}

#cart_button {
	width:128px;
	height:30px;
	background-color:#92D28F;
	color: rgba(255,255,255,0.8);
	vertical-align:middle;
	padding: 10px 0 0 64px;
	float:right;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
#cart_button > #total_items {
	background-color: rgba(0,0,0,0.1);
	padding: 4px 8px 4px 8px;
	margin-left: 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
	
#cart_button:hover {
	background-color:#A9DFA6;
	cursor:pointer;
	}
	
/* -------------------KATEGORI----------------------------*/
#subtitle{
	min-height: 30px;
}

#subtitle > ul > li{
	height: 30px;
	min-width: 127px;
	float: left;
	padding: 10px 0 0 64px;
	margin-top: 14px;
	color: rgba(255,255,255,0.8);
}
#cafe {
	background-color: #73626E;
	border-right:1px dotted #2b2b2b;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	}
#rmpadang, #minuman {
	background-color: #73626E;
	border-right:1px dotted #2b2b2b;
	}
#jajanan {
	background-color: #413E4A;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-moz-border-radius-bottomright: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#cafe:hover, #rmpadang:hover, #minuman:hover {
	background-color:#776672;
	cursor:pointer;
	}

/* -------------------KONTEN----------------------------*/
#content-section {
	margin-bottom:24px;
	}
	
.circle{
	width:64px;
	height:64px;
	background-color: #fff;	
	border-radius: 32px;
	-moz-border-radius: 32px;
	-webkit-border-radius: 32px;
}

#content {
	margin-top: 14px;
}
.detail-content{
	width: 376px;
	min-height: 416px;
	background-color: #fff;
	margin-bottom:14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.detail-content .gambar_menu {
	height: 282px;
	width: 376px;
	background-color: #2b2b2b;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	}

.detail-content .gambar_menu:hover {
	cursor:pointer;
	}
	
.detail-content img{
	height: 282px;
	width: 376px;
}
.nama_partner > h5 {
	margin:14px 14px 0 14px;
	padding-left:6px;
	line-height: 24px;
	font-size: 16px;
	font-family: 'Sofia', cursive;
}

.nama_partner {
	display:inline;}

.status {
	display:inline;
	float:right;
	padding: 4px 8px 4px 8px;
	margin: -26px 14px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:11px;
	line-height:17px;
	}
.buka {
	border:1px solid #92D28F;
	color:#92D28F;
	}

.tutup {
	border:1px solid #EF5848;
	color:#EF5848;
	}
	
.alamat_partner {
	margin-top:4px;
	margin-left: 14px;
	padding-left:24px;
	background-image: url(../img/marker.png);
	background-size:16px 16px;
	background-position: 0% 50%;	
	background-repeat: no-repeat;
	color: rgba(0,0,0,0.35);
	font-size: 11px;
	line-height:18px;
	}

.food-list > li{
	background-color:#f2f2f2;
	float:left;
	margin-left: 14px;
	width: 47px;
	height: 48px;
}

.food-list > li > img{
	width: 47px;
	height: 48px;
}

.food-list > li >img:hover{
	cursor:pointer;
	}
	
.logo-content{
	clear:left;
	overflow: hidden;
}
li.first{
margin: 0;
}
.food-list{
	padding: 12px;
}
	
.ads{
	width: 250px;
	height: 250px;
	background-color: #f2f2f2;
	border:1px solid rgba(0,0,0,0.1);
	margin-top: 0px;
}

.ads:hover {	
	cursor:pointer;
	}

.ads p {
	position:relative;
	text-align:center;
	line-height: 250px;
	color:rgba(0,0,0,0.1);
	}

hr.border{
	background-color: rgba(0,0,0,0.35);
	width: 14px;
	float: left;
	line-height: 64px;
	margin-top: 32px;
}

.space{
	min-height: 14px;
	overflow: hidden;
	clear: both;
}

a{
	font-family: 'Sofia', cursive;
	color:#666;
	text-decoration: none;
}
a:hover{
	color:#ababab;
}