/*PROFILE */
.resto-name{
	width: 150px;
	max-height: 48px;height: 48px;
	background-image: url(../img/logo.png);
	background-position: 5px center;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	border: 1px solid #333;
	line-height: 48px;
	padding-left: 50px;
	float:left;
}

.sort-by{
	float:right;
	line-height: 48px;
}


#menu-makanan{
	overflow:hidden;
	clear: both;
	min-height: 700px;
	width: 100%;
}
#menu-makanan > div >ul{
	margin-left: 64px;
	margin-top:32px;
	margin-right:40px;
	clear:both;
	height: 300px;
}

.menunya{
	margin: 0 6px 0 5px;
	background-color: white;
	float:left;
	width: 245px;
	font-family: Segoe UI;
	font-size: 14px;
	line-height: 23px;
	color : #999999;
	border-bottom: 4px solid #fcd036;
}
.menunya > img{
	width: 255px;
	border:1px solid #999999;
}
.menunya > a:hover > .shadow{
	display: block;
}

.menunya > a.pesan-btn{
	position: absolute;
	background-color: #69a55a;
	text-decoration: none;
	padding: 5px 20px;
	margin-left: 87px;
	margin-top: -147px;	
	color:#fff;
	z-index: 10;
	display: none;
}


.shadow{
	width: 245px;
	height: 245px;
	position: absolute;
	background: url(../img/bg_shadow.png) repeat ;
	z-index: 9;
	display: none;
}
.explanation{
	float:left;
	margin-left: 10px;
}
.explanation > h4{
	margin-top:-2px;
	margin-bottom:-7px;
	font-size: 14px;
	color:#666;	
}
.menu-button{
	margin: 5px 0 0 0;
}

.menu-button > button{
	float:right;
	background-image: url(../img/heart.png);
	background-repeat: no-repeat;
	background-position: left;
	background-color: white;
	border:none;
	color:#ed5f77;
	width: 50px;
	padding-left: 20px;
}

.styled-select{
	border:none;
	-webkit-appearance:none;
	padding: 5px 10px;
	width: 110px;
	background:  #c5c5c5 url(../img/select-arrow.png) right 5px center no-repeat;
	background-size: 16px 8px;
	border-radius: 4px;
	outline: none;
}

/*STYLE FOOD POPUP*/

.food-popup{
	width:376px;
	background-color: #f5f5f5;
	padding:14px;
	font-size: 15px;
	border: 1px solid #999;
	border-radius: 10px 0 10px 10px;	
}
.food-popup-title> img {
	margin-right: 14px;
	width: 64px;
}.food-popup-title > div >h5{
	font-size: 20px;
	line-height: 35px;	
}.food-popup-title > div >p{
	font-size: 12px;
}
.food-popup-content {
	clear: both;
	overflow: hidden;
	} .food-popup-content > div {
		padding-top: 14px;
		line-height: 20px;
		} .food-popup-content > div > span{
			float:left;
			min-width: 150px;
		} .food-popup-content > div > select{
			width: 60px;
			padding-left: 10px;
		} .food-popup-content > div > textarea{
			width: 336px;
			height: 92px;
			padding:5px;
		} 

.food-popup-close > img{
	position: absolute;
	top: -15px;
	right: -63px;
	background-color: #f5f5f5;
	border:1px solid #999;
	padding:10px;
	width: 28px;
	height: 28px;
	border-left: none;
}
input.food-popup-submit{
	color: white;
	border: none;
	background-color: #666;
	height: 48px;
	width: 348px;
	font-size: 18px;
}