
/*FAQ CONTAINER */
.header{
	
}
.container{
	padding: 0px;
	font-family: Segoe UI;
	background-color: white;
}
.title{
	margin-top: 20px;
	padding: 10px;
	font-size: 20px;background-color: #f5f5f5;
}
.content {
	margin-bottom: 10px;
	padding: 10px;
}
.stabilo {
	background-color: #f5f5f5;
}

/*
REGISTRATION STARTS HERE 
*/
.wrappersubscribe
{
	width: 100%;
	margin: 0 auto;
	background-color: white;
	line-height: normal;
}

.box{
	margin: 0 auto;

	padding-top: 20px;
	clear: left;
	overflow: hidden;
}
.first{
	padding-top: 50px;
}
.second{
	padding-top: 0px;
	padding-left: 120px;
}
h1{
	font-size: 60px;
}
.reg-column > input ,textarea{
	border: none;
	border-bottom: 1px #999999 solid;
	padding: 10px;
}
textarea{
	height: 100px;
}
.reg-column{
	float: left;
	margin-right: 45px;
	margin-bottom: 20px;
}
.reg-column > h5{
	font-size: 14px;
	font-family: 'Sofia', cursive;
}
.reg-column > h5 > span
{
	background: #999;
	border-radius: 50px;
	padding: 0 4px;
	font-size: 13px;
	margin-left: 5px;
}
.reg-column > input{
	width: 205px;
	background-color: #f5f5f5;
}
.reg-column > input:hover , textarea:hover{
	background-color: #e5e5e5;
	padding: 10px;
	border-bottom: 1px #999999 solid;
}
.reg-column > input:focus , textarea:focus{
	background-color: #e5e5e5;
	padding: 10px;
	border-bottom: 1px #999999 solid;
	outline: none;
}
.reg-column > input:active , textarea:active{
	background-color: #e5e5e5;
	padding: 10px;
	border-bottom: 1px #999999 solid;
}
input.date{
	width: 30px;
}

input#year{
	width: 45px;
}
input.longtext{
	width: 100px;
	height: 100px;
}
.submit-btn{
	background-color: #a5a5a5;
	border:none;
	padding: 10px;
	color:#666666;
	float:right;width: 495px;
	margin-right: 55px;
	margin-top: 20px;
	clear:both;
	overflow: hidden;
	color: white;
	font-size: 19px;
	border-radius: 4px;
	cursor: pointer;
}
.submit-btn:hover{
	background-color: #999999;
}
a#facebook{
	background: url(asset/img/facebook.png) no-repeat center;
	width: 241px;
	height: 48px;
	display: block;
}
a#facebook:hover{
	background: url(asset/img/facebook-hover.png) no-repeat center;
}

a#twitter{
	background: url(asset/img/twitter.png) no-repeat center;width: 241px;
	height: 48px;
}
a#twitter:hover{
	background: url(asset/img/twitter-hover.png) no-repeat center;
}
.none{
	display: none;
}
.left{
	float:left;
}
.right{
	float: right;
}

	#subscribe-title > h1{
	margin-right: 20px;
} 
#subscribe-title{
	clear: right;
	background-color: white;
}

#image-box{
	margin-top: 20px;
}
.border{
	width: 22px;
	height: 100px;
	float: left;
	border-left: 2px #f1f1f1 solid;
}
#leftside{
	width: 550px;
	float:left;
	clear:left;
	border-right: 1px dotted #999;
	padding-top:30px;
}
#rightside{
	float:left;
	width: 350px;
	padding-top: 70px;
	padding-left: 20px;
	overflow: hidden;	
}
.term{
	width: 468px;
	height: 200px;
	background-color: #f5f5f5;
}

#rightside > h3{
		color: #fcd036;
		font-size: 24px;
		display: block;
}#rightside > p {
	margin-top: 20px;
}
ul.profit{
	margin-left: 30px;
	list-style-image: url(../img/list-image.png);
}
ul.profit > li{
	margin-top: 15px;
	line-height: 20px;
}


/*ADIITONAL */
#term-and-policy{
	clear: both;overflow: hidden;
	font-size: 14px;
}

div#mcTooltipWrapper{
	margin-top: 16px;
	font-size: 8px;
}

.footer-signin{
	padding-top: 20px;
}
input.full{
	width: 400px;
}
input.submit-login{
	width: 200px;
	margin-top: 0px;
}
#rightside-login{
	float:left;
	width: 350px;
	padding-top: 10px;
	padding-left: 20px;
	overflow: hidden;	
}
a#lupa-password{

	margin-left: 70px;
}