/*HEADER PART */

@font-face {
	font-family: sansita;
	src: url('../font/SansitaOne.ttf');
}
.fixed{
	position:fixed;
	z-index: 100;
	width: 100%;
}
body{
	width: 100%;
	margin : 0px auto;
	background-color: #666666;
	line-height: normal;
}
.wrapper {
	width: 960px;
	margin : 0 auto;	
}
.wrapper2{
	padding-left: 160px;
	padding-right: 160px;
}
header{
	width: 1263px;
	height: 92px;	
	background: white;
	font-family: Segoe UI;
	font-size:18px;
	color :#666666 ;
	margin: 0 auto;
}
#top-nav{
margin-left: 120px;
overflow: hidden;
}
#nav-menu{
	list-style: none;

} #nav-menu > li{
	overflow: hidden;
	margin-top: 0px;
	padding: 20px 50px 10px 50px;
	float: left;
	height: 60px;
	border-right: 1px dotted white ;
		border-left: 1px dotted white ;
	}
	#nav-menu > li > a > .yellow-bold{
		color: #fcd036;
		font-weight: bold;
		display: block;
	} #nav-menu > li:hover, .active{
		background-color: #f5f5f5;
		border-right: 1px dotted #666666 ;
		border-left: 1px dotted #666666 ;
	}
	
	.left_right_nav {
		border-right: 1px dashed #ebebeb ;
		border-left: 1px dashed #ebebeb ;
		}
	#center_nav {
		border:none;
		}
#logo{
	float:left;
	width:92px;
	height:66px;
	padding-top: 26px;
}

li > a{
	text-decoration: none;
	color:#666666;
}


#header-cover-img{
	background-color: #ffff;
	height: 640px;
	display: block;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	margin: 0 auto;
	width : 1263px;
	border-top: 4px solid #fcd036;
}
#header-cover-img > div {
	width:960px;
	margin:0 auto;
	padding-right: 320px;
}


/* CONTENT PART as*/
#container{
	clear:both;
	background-color: #fcd036;
	width: 1263px;
	height: 240px;	
	padding-top: 0 ;
	padding-bottom: 100px;
	font-family: sansita;
	margin: 0 auto;
}

#reward_icon{
	float:left;
	margin: 0 48px;

}
#registration {
	font-family: sansita;
	font-size: 18px;
	margin-top: 55px;
	color: white;
	float:left;

}
	#registration h2 {
		font-size: 36px;		
		color : #443829;
	}

	#registration h3 {
		font-size: 24px;
		
	}

	#registration p {
		margin-top:20px;
		overflow: hidden;
		width: 400px;
	}


.registration-button > button{
	margin-top:20px;
	background-color: #f97b3d;
	background-image: url(../img/register-logo.png);
	background-repeat: no-repeat;
	background-position: left;
	width: 192px;
	font-size:21px;	
	font-family: Segoe UI;
	color:white;
	border: none;
	padding: 0px 0px 0px 50px;
	height: 48px;
	cursor: pointer;
}

#searchbox
{
	background-color: #f5f5f5;
	width: 480px;
	height: 48px;
	padding: 10px;
	margin-top: 20px;
	margin: 60px auto 50px;
	overflow: hidden; /* Clear floats */
	font-size: 21px;
	font-family: Segoe UI;
}

#search-button{
	background-color: #f5f5f5;
	margin-top: 42px;
	margin-bottom: 42px;
	width: 480px;
	height: 48px;
	font-size: 21px;
	font-family: Segoe UI;
}

#search, #submit
{
	float : left;
}

#search
{
	padding: 7px 12px 7px 5px;	
	border:none;
	background-color:  #f5f5f5;
	color: rgba(0,0,0,0.1);
    font-size: 21px;
}

	#search-button > div > a > img{
		padding-top: -100px;
		padding-left: 50px;
		float:right;
		margin-top: -15px;
		margin-left: 20px;
	}

	#search-button > div.text{
		padding: 7px 12px 7px 24px;	
	}

	#search-button > div.text > input{
		border:none;
		background-color:  #f5f5f5;
	    color: rgba(0,0,0,0.1);
	    font-size: 21px;
	    float:left;
	}

#menu-makanan{
	overflow:hidden;
	clear: both;
	background-color: #f5f5f5;
	min-height: 700px;
	width: 1263px;
	margin: 0 auto;
}
#menu-makanan > div >ul{
	margin-left: 64px;
	margin-top:32px;
	margin-right:40px;
	clear:both;
	height: 300px;
}

.menunya{
	margin-left: 18px;
	background-color: white;
	float:left;
	width: 257px;
	font-family: Segoe UI;
	font-size: 14px;
	line-height: 23px;
	color : #999999;
	border-bottom: 4px solid #fcd036;
}
.menunya > img{
	width: 255px;
	border:1px solid #999999;
}
.menunya > a:hover > .shadow{
	display: block;
}

.menunya > a.pesan-btn{
	position: absolute;
	background-color: #69a55a;
	text-decoration: none;
	padding: 5px 20px;
	margin-left: 87px;
	margin-top: -147px;	
	color:#fff;
	z-index: 10;
	display: none;
}
.shadow{
	width: 255px;
	height: 255px;
	position: absolute;
	background: url(../img/bg_shadow.png) repeat ;
	z-index: 9;
	display: none;
}
.explanation{
	float:left;
	margin-left: 10px;
}
.explanation > h4{
	margin-top:-2px;
	margin-bottom:-7px;
	font-size: 14px;
	color:#666;	
}
.menu-button{
	margin: 5px 0 0 0;
}

.menu-button > button{
	float:right;
	background-image: url(../img/heart.png);
	background-repeat: no-repeat;
	background-position: left;
	background-color: white;
	border:none;
	color:#ed5f77;
	width: 50px;
	padding-left: 20px;
}

#katalog-button > button{
	clear: both;
	overflow: hidden;
	margin: 40px 70px 48px 0;
	float:right;
	background-image: url(../img/lihat-katalog.png);
	background-repeat: no-repeat;
	background-position: left;
	background-color: #f97b3d;
	border:none;
	width: 256px;	
	color:#fff;
	line-height: 46px;
	font-family: Segoe UI;
	font-size : 14px;
	padding-left: 48px;
	cursor: pointer;
}

footer{
	font-family: Segoe UI;
	clear:both; overflow: hidden;
	height: 70px;
	background-color:#2b2b2b ;
	border-bottom: 1px solid black;border-top: 1px solid black;
	color:#fff;
	width:1263px;
	margin: 0 auto;
}

.copyright{
	padding:20px 40px;
	width:300px;
}

.fb-btn{
	margin-top:20px;
	overflow:hidden;
}
.twitter-btn{
	overflow:hidden;
	margin-top:10px;
}
.left{
	float:left;
}.fanpage-like{
	width: 270px;
	padding: 20px 40px;
}
.twitter-follow{
	width:180px;
	padding: 20px 10px;
}

.right{
	float:right;
}
/*FIXED DIV STYLING*/

.sign-in{
	position: fixed;
	top:10px;
	right: 0;
	float: right;
	height: 30px;width: 80px;
	padding-left: 10px;	color: #fcd036;	padding-top: 30px;
	font-size: 20px;
	background: #333 url(../img/logo.png) top 10px center no-repeat;
	background-size: 20px 20px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #ababab;	
	font-family: Segoe UI;
	z-index: 120;
	border-right: none;
}
.sign-in > a{
	color: #fcd036;
	text-align: center;
	text-decoration: none;
} .sign-in:hover{
	background-color: #444;
}

.sign-in-form {
	top: 10px;
	position:fixed;
	background-color: #333;
	padding: 20px;
	color:#fcd036;
	font-family: Segoe UI;
	border: 1px solid #ababab;
	border-radius: 0 0 0 5px;
	width: 200px;
	right: 0;
	margin-right: -241px;
	z-index: 110;
}
.sign-in-form > form > div{
	margin-bottom: 10px;
}
.sign-in-form > form > div > label{
	display: block;
	margin-bottom: -3px;
	font-size: 14px;
}
.sign-in-form > form > div > input{
	border: none;
	display: block;
	border-radius: 2px;
	width: 200px;
	padding: 5px 2px;
	background-color: #e5e5e5;
	border: 1px solid #999;
}

.remember-me{
	clear: left;
	overflow: hidden;
	font-size: 10px;
	margin-top: -15px;
	margin-left: 20px;
}
#login-btn{
	background: white;
	color: #333;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
}

#register{
	color:white;
	line-height: 36px;
	font-size: 12px;
}
/* style untuk dropdown menu */

